{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
</head>
<body>
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                        class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form method="post" action="{% url 'connection' %}">
                        {% csrf_token %}
                        <div class="texte">
                            <p class="tenses" style="font-weight: 900; text-align: center">Veuillez vous connecter</p>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="text" name="username" id="form3Example3" class="form-control form-control-lg" placeholder="Nom d'utilisateur" />
                            <label class="form-label" for="form3Example3">Nom d'utilisateur</label>
                        </div>
                        <div class="form-outline mb-3">
                            <input type="password" name="password" id="form3Example4" class="form-control form-control-lg" placeholder="Mot de passe" />
                            <label class="form-label" for="form3Example4">Mot de passe</label>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="form-check mb-0">
                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                                <label class="form-check-label" for="form2Example3">Se souvenir de moi</label>
                            </div>
                            <a href="#!" class="text-body">Mot de passe oublié ?</a>
                        </div>
                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">connection</button>
                            <p class="small fw-bold mt-2 pt-1 mb-0">Vous n'avez pas de compte ? <a href="{% url 'inscription' %}" class="link-danger">S'inscrire</a></p>
                        </div>
                    </form>
                    {% if error %}
                    <div class="alert alert-danger mt-4" role="alert">
                        {{ error }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- ... -->
</body>
</html>